@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body{
    margin: 0 auto;
    padding: 0;
    max-width: 1550px;
}

#header{
    /* text-align: center; */
    /* border: 1px solid black; */
    padding: 30px 10px;
    background-image: url('../src/assets/Going-Merry.jpg');
    color: white;
}

#header h1{
    font-family: 'Fjalla One', sans-serif;
    font-size: 64px;
}
#header p{
    font-family: 'Questrial', sans-serif;
}

form{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    margin: auto;
    margin-top: 35px;
    font-family: 'Questrial', sans-serif;
    justify-content: space-around;
}
form #anime{
    padding: 10px;
    border-radius: 20px;
    /* border: 2px black solid; */
    border: none;
    background-color: #009EFF;
}


form #submit {
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    font-family: 'Questrial', sans-serif;
    background-color: #009EFF;
    color: white;
}
form #submit:hover {
    background-color: black;
    transition: 0.8s;
    color: white;
}
form #anime::placeholder{
    font-family: 'Questrial', sans-serif;
    color: white;
}
#anime[value]{
    font-family: 'Questrial', sans-serif;
}

#animeShows{
    margin: 30px 10px;
    border-bottom: 2px dotted black;
    padding-bottom: 75px;
}
#animeShows h2{
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    font-size: 60px;
    color: #009EFF;
}
#animeShows em {
    font-family: 'Questrial', sans-serif;
}
#animeShows p {
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
}

#animeShows img {
    width: 500px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

